/*
 *= require_tree .
 *= require_self
 */
.hidden { display: none !important; }

/* nice defaults */
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
